  <div class="fexo-comments <%= className %>">
    <%- partial('disqus') %>
    <%- partial('gentie') %>
    <%- partial('changyan') %>
    <%- partial('gitment') %>
    <%- partial('hypercomments') %>
    <%- partial('uyan') %>
    <%- partial('valine') %>
  </div>
