<div class="modal" id="modal">
  <span id="cover" class="cover hide"></span>
  <div id="modal-dialog" class="modal-dialog hide-dialog">
    <div class="modal-header">
      <span id="close" class="btn-close"><%= __('close') %></span>
    </div>
    <hr>
    <div class="modal-body">
      <ul class="list-toolbox">
        <% theme.page_nav.forEach(function(item, i){ %>
          <li class="item-toolbox">
            <a
              class="<%= theme.page_nav_style ? theme.page_nav_style : 'ROUND_RECT' %>"
              href="<%= item.url %>"
              rel="noopener noreferrer"
              target="<%= item.target_blank ? '_blank' : '_self' %>"
              >
              <%= item.name %>
            </a>
          </li>
        <% }) %>
      </ul>

    </div>
  </div>
</div>
