<% if(theme.toolbox && theme.toolbox.isShow == true) { %>
  <div class="toolbox">
    <a class="toolbox-entry" href="/">
      <span class="toolbox-entry-text"><%= theme.toolbox.text || '' %></span>
      <i class="icon-angle-down"></i>
      <i class="icon-home"></i>
    </a>
    <ul class="list-toolbox">
      <% theme.page_nav.forEach(function(item, i){ %>
        <li class="item-toolbox">
          <a
            class="<%= theme.page_nav_style ? theme.page_nav_style : 'ROUND_RECT' %>"
            href="<%= item.url %>"
            rel="noopener noreferrer"
            target="<%= item.target_blank ? '_blank' : '_self' %>"
            >
            <%= item.name %>
          </a>
        </li>
      <% }) %>
    </ul>
  </div>
<% } %>
