<%- partial('_partial/head') %>
<body>

  <% if (page.base !== '') { %>
    <span id="toolbox-mobile" class="toolbox-mobile">盒子</span>
  <% } %>

  <%- body %>

  <%- partial('_partial/component/modal') %>


  <% if (theme.post.showComments && page.layout === 'post'){ %>
    <%- partial('_partial/component/comments', {className: 'comments-post'}) %>
  <% } else if (page.comments) { %>
    <%- partial('_partial/component/comments', {className: 'comments-' + page.layout}) %>
  <% } %>

  <%- partial('_partial/load-script') %>
</body>
</html>
