<div class="content content-link">
  <%- partial('_partial/component/page-header', {location: '友链'}) %>

  <ul class="link-list">
    <% theme.link.forEach(function(item, i){ %>
      <li class="link-item link-item-<%= i % 5 %>">
        <a target="_blank" class="link-url" href="<%= item.url || ''%>">
          <img class="avatar" src="<%= item.avatar%>" alt="<%= item.name || ''%>">
          <span class="name"><%= item.name || ''%></span>
        </a>
      </li>
    <% }) %>
  </ul>

</div>
