<div class="content content-link">
  <%- partial('_partial/component/page-header', {location: __('location.links')}) %>

  <hr>

  <ul class="link-list">
    <% theme.link.forEach(function(item, i){ %>
      <li class="link-item link-item-<%= i % 5 %>">
        <a rel="noopener noreferrer" target="_blank" class="link-url" href="<%= item.url || ''%>">
          <img class="avatar" src="<%= item.avatar%>" alt="<%= item.name || ''%>">
          <div class="wrap-info">
            <div class="name"><%= item.name || ''%></div>
            <div class="info"><%= item.info || ''%></div>
          </div>
        </a>
      </li>
    <% }) %>
  </ul>

  <% if(theme.link_slogan.isShow) { %>
    <div class="tip">
      <i class="icon-mail"></i>
      <span><%= theme.link_slogan.text%></span>
    </div>
  <% } %>

</div>

<%- partial('_partial/component/back-top', {showBacktop: theme.backtop.link}) %>
