<div class="post-header<%= theme.toolbox.isShow && theme.post.header_align ? ' ' + theme.post.header_align : '' %>">
   <%- partial('_partial/component/toolbox') %>
</div>

<%- partial('_partial/component/toc') %>

<div class="content content-post<%= theme.post.header_align ? ' ' + theme.post.header_align : '' %>">
   <%- partial('_partial/article', {post: page, index: false}) %>

   <%- partial('_partial/component/donation') %>
   <%- partial('_partial/component/prev-net') %>

   <!-- 来必力City版安装代码 -->
   <div id="lv-container" data-id="city" data-uid="MTAyMC8zMTczMy84Mjk3">
   	<script type="text/javascript">
      (function(d, s) {
          var j, e = d.getElementsByTagName(s)[0];

          if (typeof LivereTower === 'function') { return; }

          j = d.createElement(s);
          j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
          j.async = true;

          e.parentNode.insertBefore(j, e);
      })(document, 'script');
   	</script>
   <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
   </div>
   <!-- City版安装代码已完成 -->

   <footer>
     <p class="myFooter">© 2017 ❤ Jiacy  |  Power by Hexo, Built on Github Pages</p>
   </footer>

</div>


<%- partial('_partial/component/back-top', {showBacktop: theme.backtop.post}) %>
<!--<div width="100%" align="center">
<div name="dashmain" id="dash-main-id-879837" class="dash-main-3 879837-1"></div>
<script type="text/javascript" charset="utf-8" src="https://www.dashangcloud.com/static/ds-2.0.js"></script>
</div>
--->
