<div class="post-header<%= theme.toolbox.isShow && theme.post.header_align ? ' ' + theme.post.header_align : '' %>">
   <%- partial('_partial/component/toolbox') %>
</div>

<%- partial('_partial/component/toc') %>

<div class="content content-post<%= theme.post.header_align ? ' ' + theme.post.header_align : '' %>">
   <%- partial('_partial/article', {post: page, index: false}) %>

   <%- partial('_partial/component/donation') %>
   <%- partial('_partial/component/prev-net') %>
</div>

<%- partial('_partial/component/back-top', {showBacktop: theme.backtop.post}) %>
<!--<div width="100%" align="center">
<div name="dashmain" id="dash-main-id-879837" class="dash-main-3 879837-1"></div>
<script type="text/javascript" charset="utf-8" src="https://www.dashangcloud.com/static/ds-2.0.js"></script>
</div>
--->
