<div class="post-header<%= theme.toolbox.isShow && theme.post.header_align ? ' ' + theme.post.header_align : '' %>">
   <%- partial('_partial/component/toolbox') %>
</div>

<%- partial('_partial/component/toc') %>

<div class="content content-post<%= theme.post.header_align ? ' ' + theme.post.header_align : '' %>">
   <%- partial('_partial/article', {post: page, index: false}) %>

   <%- partial('_partial/component/donation') %>
   <%- partial('_partial/component/prev-net') %>

   <% if (theme.gitalk_shortname && page.comments && theme.url){ %>
      <%- partial('_partial/component/gitalk') %>
   <% } else { %>
      <div class="git"></div>
   <% } %>
</div>

<%- partial('_partial/component/back-top', {showBacktop: theme.backtop.post}) %>
