<div class="archive-header">
  <a class="home-entry" href="/">首页</a>
  <a class="avatar" href="/">
    <img src="/images/avatar.jpg" alt="" />
    <div class="blog-info">
      <h3 class="name">
        <%= theme.blog_name %>
      </h3>
      <div class="slogan">
        <%= theme.slogan %>
      </div>
    </div>
  </a>
</div>

<div class="archive-body">

  <% if (pagination == 2){ %>
    <% page.posts.each(function(post){ %>
      <%- partial('article', {post: post, index: true}) %>
    <% }) %>
  <% } else { %>
    <% var last; %>
    <% page.posts.each(function(post, i){ %>
      <% var year = post.date.year(); %>
      <% if (last != year){ %>
        <% if (last != null){ %>
          </div></section>
        <% } %>
        <% last = year; %>
        <section class="box-year">
          <div class="box-year-title">
            <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="text-year"><%= year %></a>
          </div>

          <div class="list-article">
      <% } %>
      <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
    <% }) %>
    <% if (page.posts.length){ %>
        </div>
      </section>
    <% } %>
  <% } %>

</div>
