<%- partial('page-header', {location: '博客'}) %>

<div class="archive-body">
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="box-year">
        <div class="box-year-title">
          <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="text-year"><%= year %></a>
        </div>

        <div class="list-article">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
      </div>
    </section>
  <% } %>

</div>

<div class="archive-footer">
  <%- partial('pagination') %>
</div>
