<div class="archive-header">
  <div class="breadcrumb"><i class="icon-location"></i><span>分类</span></div>
  <div class="archive-nav">
    <div class="home-entry">盒子</div>
    <ul class="list-entry">
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/">分类</a>
        </li>
        <li>
            <a href="/">标签</a>
        </li>
        <li>
            <a href="/">关于</a>
        </li>
        <li>
            <a href="/">RSS</a>
        </li>
    </ul>
  </div>
  <a class="avatar" href="/">
    <img src="/images/avatar.jpg" alt="" />
    <div class="blog-info">
      <h3 class="name">
        <%= theme.blog_name %>
      </h3>
      <div class="slogan">
        <%= theme.slogan %>
      </div>
    </div>
  </a>
</div>

<div class="archive-body">
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="box-year">
        <div class="box-year-title">
          <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="text-year"><%= year %></a>
        </div>

        <div class="list-article">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
      </div>
    </section>
  <% } %>

</div>

<div class="archive-footer">
  <%- partial('pagination') %>
</div>
