<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemprop="blogPost">
  <header class="article-header">
    <h1 class="post-title"><%= post.title || '(no title)' %></h1>

    <div class="article-meta">
      <span>
        <i class="icon-calendar"></i>
        <span><%= date(post.date, 'YYYY.MM.DD') %></span>
      </span>

      <% if (config.author){ %>
        <span class="article-author">
          <i class="icon-user"></i>
          <span><%= config.author %></span>
        </span>
      <% } %>

      <%- partial('component/category') %>

      <% if (theme.disqus_shortname && theme.url){ %>
        <span>
          <i class="icon-comment"></i>
          <a href="<%= theme.url + url_for(page.path) + '#disqus_thread' %>"></a>
        </span>
      <% } %>

    </div>
  </header>

  <div class="article-content">
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
        <p class="article-more-link">
          <a class="btn btn-primary" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
        </p>
      <% } %>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>
</article>
