<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <header class="article-header">
    <h1 class="post-title"><%= post.title || '(no title)' %></h1>

    <div class="article-meta">
      <span><%= date(post.date, null) %></span>

      <span> | </span>

      <% if (config.author){ %><span class="article-author"><%= config.author %></span><% } %>

      <span> | </span>

      <%- partial('component/category') %>
    </div>
  </header>

  <div class="article-content">
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
        <p class="article-more-link">
          <a class="btn btn-primary" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
        </p>
      <% } %>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>
</article>


<% if (!index && post.comments && theme.disqus_shortname){ %>
<section class="disqus-comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>

<% if (!index && post.comments && theme.duoshuo_shortname){ %>
  <section class="duoshuo-comments">
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="" data-title="<%= post.title %>" data-url="<%= url %>"></div>
    <!-- 多说评论框 end -->
  </section>
<% } %>
