<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <header class="article-header">
    <h1 class="post-title"><%= post.title || '(no title)' %></h1>

    <div class="article-meta">
      <span><%= date(post.date, null) %></span>

      <span> | </span>

      <% if (config.author){ %><span class="article-author"><%= config.author %></span><% } %>

      <span> | </span>

      <%- partial('component/category') %>
    </div>
  </header>

  <div class="article-content">
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
        <p class="article-more-link">
          <a class="btn btn-primary" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
        </p>
      <% } %>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>
</article>
